---
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost
  id="about"
  title="about PlainPage"
  description="A fast, text-focused, minimalist blog theme for Astro"
  pubDate={new Date()}
  tags={[]}
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nesciunt atque odio, deserunt quam sint laudantium cum porro, doloremque facilis quod nobis at perferendis, fugit commodi voluptates molestias modi laborum!
  </p>
</BlogPost>
