---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-lg border">
      <div class="flex flex-col space-y-1.5 p-6">
        <h3 class="text-3xl leading-none font-medium">Proxima Centauri</h3>
        <p class="text-muted-foreground text-sm">
          /ˌprɒksəmə sɛnˈtɔːri/ &bull; <span class="font-medium"
            >Kırmızı Cüce</span
          >
        </p>
      </div>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground text-sm">
          <Link
            href="https://en.wikipedia.org/wiki/Proxima_Centauri"
            class="text-foreground"
            underline
            external>Proxima Centauri</Link
          >
          , Güneş'e en yakın, yaklaşık 4.24 ışık yılı
          uzaklıktaki bir kırmızı cüce yıldızdır. Alpha Centauri sisteminin bir
          parçası olduğu düşünülen bu yıldız, düşük parlaklığı nedeniyle çıplak
          gözle görülemez ve bilinen en az iki gezegene ev sahipliği yapar.
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4"> 
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
